* {
    font-family: monospace;
    background-color: black;
    color:white;
    margin: 0;
    text-align: center;
    font-size: larger;
}

a {
    text-decoration: none;
}

span {
    display: inline-block;
}

h1 {
    font-size: 5rem;
    letter-spacing: .8rem;
    margin-top: 1rem;
}

.header {
    display: inline-block;
}

#main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.game {
    background-color: black;
    width: 50%;
    height: 97.5%;
    border-radius: 10px;
    margin: 2vh;
}

.word {
    background-color: black;
    user-select: none;
    margin: 1vh;
    height: 12%;
}

.letter {
    background-color: transparent;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 2px;
    font-size: 8vh;
    margin: 1vh 0.5vh 1vh 0.5vh!important;
    border: 2px solid rgba(211, 211, 211, 0.4);
    user-select: none;
    text-transform: uppercase;
    width: 4%;
    height: 100%;
}

#feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-size: 4vh;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgb(60, 60, 60)
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(70, 70, 70);
}

::-webkit-scrollbar {
    width: 1.5vh;
    border-radius: 15px;
    background-color: rgb(40,40,40);
}