.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    text-decoration: none;
}

* {
    font-family: monospace;
    background-color: black;
    color:white;
    margin: 0;
    text-align: center;
    font-size: larger;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-size: 5rem;
    letter-spacing: .8rem;
    margin-top: 1rem;
}

.response {
    padding: 1rem;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.game {
    background-color: black;
    width: fit-content;
    display: contents;
    border-radius: 10px;
    margin: 2vh;
}

.word {
    background-color: black;
    user-select: none;
    margin: 1vh;
}

.letter{
    background-color: transparent;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 2px;
    font-size: 8vh;
    margin: 1vh!important;
    border: 2px solid rgba(211, 211, 211, 0.4);
    user-select: none;
    text-transform: uppercase;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  