<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Wordle</title>
</head>
<body>
  <div class="word">
    <div class="word-stats">
        <div class="guesses">
            {{guesses}}
        </div>
    </div>
    <div class="word-container">
      <div class="guess-letters">
          {{#each guessedWords}}
            <p>{{this}}</p>
          {{/each}}
      </div>
    </div>
    <div class="word-guess-area">
      <form action="/play/{{id}}" method="POST">
        <label for="word-guess">
          Word
          <input type="submit" value="Try"/>
        </label>
      </form>
    </div>
  </div>
</body>
<style>

    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
    }

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
        text-decoration: none;
    }

</style>