

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    text-decoration: none;
}

* {
    font-family: 'VT323', monospace;
    background-color: black;
    color:white;
    margin: 0;
    text-align: center;
    font-size: larger;
}

.word-header h1{
    font-size: 6rem;
    letter-spacing: .8rem;
}

.word-stats {
    padding: 1rem;
}

.guess-letters {
    background-color: black;
}

.guess-letters-container {
    background-color: black;
    padding: .5rem;
}

.letters-item {
    background-color: #6565658f;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 2px;
    font-size: 8vh;
    margin-left: -0.5vh;
    margin-right: -0.5vh;
}

.word-container :first-child {
    margin-top: 6vh;
}

.word-container :last-child {
    margin-bottom: 1vh;
}

.word-container {
    background-color: black;
    width: fit-content;
    display: inline-block;
    border-radius: 10px;
}

